<p>
  new works!
</p>
<div class="example-container">
  <form #form="ngForm" class="example-container" [connect]="['article', 'new', 'formNew']" (submit)="submit(form)">

    <mat-form-field>
      <input ngControl ngModel name="title" matInput placeholder="Simple placeholder" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Both a label and a placeholder</mat-label>
      <input ngControl ngModel name="content" matInput placeholder="Simple placeholder">
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button>Submit</button>
    </div>
  </form>
</div>
