<p>
  edit works!
</p>
<div class="example-container">
  <form #form="ngForm" class="example-container" [connect]="['article', 'edit', 'formEdit']" (submit)="submit(form)">
    <input ngControl ngModel name="id" required type="hidden">

    <mat-form-field>
      <input ngControl ngModel name="title" matInput placeholder="Simple placeholder" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Both a label and a placeholder</mat-label>
      <input ngControl ngModel name="content" matInput placeholder="Simple placeholder">
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button>Submit</button>
    </div>
  </form>
  <app-article-delete [article]="article$ | async"></app-article-delete>
</div>
